<!-- Navigation ends -->
<!-- Page title starts -->
<div class="relative z-10 bg-gray-800 pt-8 pb-16">
  <div
    class="
      container
      px-6
      mx-auto
      flex flex-col
      lg:flex-row
      items-start
      lg:items-center
      justify-between
    "
  >
    <div class="mt-6 lg:mt-0 w-max">
      <span class="text-3xl text-white">Lojas do Shopping Haroldo</span>
      <div class="flex mt-3 items-end flex-wrap">
        <input
          placeholder="pesquise sua loja favorita"
          class="
            inline
            w-80
            p-2
            rounded
            rounded-r-none
            border-gray-500
            bg-gray-800
            text-white
            mt-4
            focus:border-gray-200
          "
          type="text"
        />
        <section>
          <button
          style="height: 42px;"
            class="flex-1 mr-6 border border-l-0 rounded rounded-l-none mt-4 active:bg-black hover:bg-gray-600 p-2 px-3 border-gray-500
            text-white"
          >
            pesquisar
          </button>
      </section>
        <section class="mt-4">
          <p class="text-white">pesquisar por:</p>
          <div
            class="
              w-80
              rounded
              flex
              justify-around
              border border-gray-500
              text-white
            "
          >
            <button
              class="flex-1 p-2 border-r"
              (click)="searchSelected = 'nome'"
              [class.bg-gray-600]="searchSelected === 'nome'"
            >
              nome
            </button>
            <button
              class="flex-1 p-2"
              (click)="searchSelected = 'atividade'"
              [class.bg-gray-600]="searchSelected === 'atividade'"
            >
              atividade
            </button>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
<!-- Page title ends -->
<div class="bg-gray-200 pb-10">
  <div class="container px-6 mx-auto">
    <div class="relative z-10 w-full">
      <div class="w-full -mt-8 h-auto">
        <app-produtos-page-lista [produtos$]="produtos$" ></app-produtos-page-lista>
      </div>
    </div>
  </div>
</div>

<div class="fixed z-10 right-4 bottom-4">
  <app-carrinho></app-carrinho>
</div>
