
<main *ngIf="!(logado$ | async)" class="flex flex-col justify-between items-center">
  <span class="text-lg">
    Olá! faça o login para fazer compras
  </span>

  <div>
    <mat-form-field class="example-form-field w-96  block" appearance="standard">
      <mat-label>e-mail</mat-label>
      <input [(ngModel)]="email" matInput type="email" />
    </mat-form-field> <br>
    <mat-form-field class="example-form-field w-96  block" appearance="standard">
      <mat-label>senha</mat-label>
      <input [(ngModel)]="senha" matInput type="password" />
    </mat-form-field>
  </div>

  <span *ngIf="erroLogin" class="text-red-600 my-2">e-mail ou senha inválidos</span>
  <button *ngIf="!(isLogging$ | async)" (click)="login()" [disabled]="!email || !senha" mat-raised-button color="primary">Logar</button>
  <mat-spinner diameter="40" *ngIf="isLogging$ | async"></mat-spinner>
</main>

<main *ngIf="logado$ | async" class="flex flex-col justify-between items-center">
  <span class="text-lg">
    Olá! {{ (clienteLogado$ | async)?.nome }}
  </span>

  <div class="p-4">
    <span>Você está logado com sucesso, para deslogar, <strong (click)="deslogar()" class="font-bold text-blue-600 cursor-pointer">clique aqui</strong></span>
  </div>

</main>
